.wrapper {
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, .84);
}

.pop {
  position: absolute;
  padding-bottom: 40px;
  width: 250px;
  top: 0;
  border-radius: 4px;
  left: -270px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  background-color: #ffffff;
  z-index: 1;
}

.pop::after {
  content: '';
  right: -4px;
  top: 10px;
  position: absolute;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background-color: #ffffff;
}

.message {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.5;
}

.btns {
  position: absolute;
  right: 16px;
  bottom: 8px;
}

.btn {
  display: inline-block;
  padding: 0;
  white-space: nowrap;
  width: 34px;
  font-size: 12px;
  border-radius: 2px;
  line-height: 24px;
  text-align: center;
  border: 1px solid transparent;
  transition: opacity .3s ease;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  opacity: .7;
}

.confirmBtn {
  background-color: #1890ff;
  color: #ffffff;
}

.cancelBtn {
  margin-left: 8px;
  border-color: rgba(0, 0, 0, .54)
}
